{"openapi":"3.0.0","info":{"title":"PayID Platform API","description":"API documentation for the PayID Platform — including OAuth 2.0 Authentication, Organization Management, API Keys, KYC Verification, Analytics, Billing, and more.","version":"1.0.0"},"servers":[{"url":"https://api.payid.cloud","description":"Production Server"},{"url":"http://localhost:6960","description":"Local Development Server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"OAuth 2.0 Access Token. Format: `Bearer <token>`"},"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"API Key via Authorization header. Format: `ApiKey <key>`"},"xApiKeyAuth":{"type":"apiKey","in":"header","name":"X-Api-Key","description":"API Key via X-Api-Key header. Format: `<key>` (no prefix needed)"}}},"paths":{"/oauth/login":{"post":{"tags":["Authentication"],"summary":"Login with password","description":"Authenticate with email and password. Returns an access token and optional refresh/ID tokens.","operationId":"post_oauth_login","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"password":{"type":"string"},"return_url":{"type":"string"},"return_token":{"type":"boolean"},"client_id":{"type":"string"}},"required":["email","password"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/register":{"post":{"tags":["Authentication"],"summary":"Register new account","description":"Create a new user account and immediately log in. Returns an access token.","operationId":"post_oauth_register","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"password":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"country":{"type":"string"},"dateOfBirth":{"type":"string"},"address":{"type":"object","additionalProperties":{}},"return_url":{"type":"string"},"return_token":{"type":"boolean"},"client_id":{"type":"string"}},"required":["email","password","firstName","lastName"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/magic-link/request":{"post":{"tags":["Authentication"],"summary":"Request magic link","description":"Send a one-click login link to the user's email address.","operationId":"post_oauth_login_magic_link_request","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"return_url":{"type":"string"},"shouldCreate":{"type":"boolean"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["email"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/magic-link/verify":{"get":{"tags":["Authentication"],"summary":"Verify magic link","description":"Verify a magic link token sent via email and exchange it for an access token.","operationId":"get_oauth_login_magic_link_verify","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}},{"name":"return_url","in":"query","required":false,"schema":{"type":"string"}},{"name":"return_token","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"client_id","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/otp/request":{"post":{"tags":["Authentication"],"summary":"Request OTP","description":"Send a one-time password (OTP) to the user's email or phone number.","operationId":"post_oauth_login_otp_request","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"shouldCreate":{"type":"boolean"},"return_url":{"type":"string"}},"required":["email"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/otp/verify":{"post":{"tags":["Authentication"],"summary":"Verify OTP","description":"Verify a one-time password and exchange it for an access token.","operationId":"post_oauth_login_otp_verify","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"otp":{"type":"string"},"return_url":{"type":"string"},"return_token":{"type":"boolean"},"client_id":{"type":"string"}},"required":["email","otp"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/google":{"get":{"tags":["Authentication"],"summary":"Initiate Google OAuth","description":"Redirect the user to Google's OAuth 2.0 authorization page.","operationId":"get_oauth_login_google","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"location":{"type":"string"}},"required":["location"],"additionalProperties":false}}}}}}},"/oauth/login/google/callback":{"get":{"tags":["Authentication"],"summary":"Google OAuth callback","description":"Handle the callback from Google OAuth and return access tokens.","operationId":"get_oauth_login_google_callback","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"location":{"type":"string"}},"required":["location"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/session":{"get":{"tags":["Authentication"],"summary":"Get session status","description":"Check the status of the current session and return the authenticated user's details.","operationId":"get_oauth_session","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/logout":{"post":{"tags":["Authentication"],"summary":"Logout","description":"Invalidate the current session and revoke associated tokens.","operationId":"post_oauth_logout","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/authorize":{"get":{"tags":["OAuth 2.0"],"summary":"Authorize (GET)","description":"Initiate an OAuth 2.0 authorization flow. Validates the request parameters and redirects the user to the consent screen.","operationId":"get_oauth_authorize","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"redirect":{"type":"string"}},"required":["redirect"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}},"post":{"tags":["OAuth 2.0"],"summary":"Authorize (POST)","description":"Submit the OAuth 2.0 authorization consent decision and redirect to the client's redirect URI with a code or token.","operationId":"post_oauth_authorize","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"redirect":{"type":"string"}},"required":["redirect"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/token":{"post":{"tags":["OAuth 2.0"],"summary":"Exchange token","description":"Exchange an authorization code, client credentials, or refresh token for an access token.","operationId":"post_oauth_token","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"scope":{"type":"string"}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/revoke":{"post":{"tags":["OAuth 2.0"],"summary":"Revoke token","description":"Revoke an OAuth 2.0 access token or refresh token, making it immediately invalid.","operationId":"post_oauth_revoke","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/introspect":{"post":{"tags":["OAuth 2.0"],"summary":"Introspect token","description":"Inspect the active state and metadata of an OAuth 2.0 access or refresh token.","operationId":"post_oauth_introspect","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"active":{"type":"boolean","enum":[true]},"sub":{"type":"string"},"scope":{"type":"string"},"exp":{"type":"number"}},"required":["active"],"additionalProperties":false},{"type":"object","properties":{"active":{"type":"boolean","enum":[false]}},"required":["active"],"additionalProperties":false}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/userinfo":{"get":{"tags":["OpenID Connect"],"summary":"Get user info","description":"Return OpenID Connect claims about the currently authenticated end-user.","operationId":"get_oauth_userinfo","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"sub":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"}},"required":["sub"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/.well-known/openid-configuration":{"get":{"tags":["OpenID Connect"],"summary":"OpenID Connect Discovery","description":"Retrieve the OpenID Connect discovery document with endpoint URLs and supported features.","operationId":"get_well_known_openid_configuration","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"issuer":{"type":"string"},"authorization_endpoint":{"type":"string"},"token_endpoint":{"type":"string"}},"required":["issuer","authorization_endpoint","token_endpoint"],"additionalProperties":false}}}}}}},"/.well-known/jwks.json":{"get":{"tags":["OpenID Connect"],"summary":"JSON Web Key Set (JWKS)","description":"Retrieve the public keys used to verify JWT access tokens and ID tokens.","operationId":"get_well_known_jwks_json","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"keys":{"type":"array","items":{"type":"object","additionalProperties":{}}}},"required":["keys"],"additionalProperties":false}}}}}}},"/api/v1/organizations":{"post":{"tags":["Organizations"],"summary":"Create organization","description":"Create a new organization. The authenticated user becomes the owner.","operationId":"post_api_v1_organizations","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"slug":{"type":"string","minLength":3,"maxLength":63,"pattern":"^[a-z0-9-]+$"},"tier":{"type":"string","enum":["startup","growth","enterprise"]},"billingEmail":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"}},"required":["name","slug","billingEmail"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"get":{"tags":["Organizations"],"summary":"List organizations","description":"Retrieve a paginated list of all organizations the authenticated user belongs to.","operationId":"get_api_v1_organizations","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}":{"get":{"tags":["Organizations"],"summary":"Get organization","description":"Retrieve details of a specific organization by its ID.","operationId":"get_api_v1_organizations_orgId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Organizations"],"summary":"Update organization","description":"Update an organization's name, settings, or metadata.","operationId":"patch_api_v1_organizations_orgId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"settings":{"type":"object","additionalProperties":{}},"billing":{"type":"object","additionalProperties":{}}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["Organizations"],"summary":"Delete organization","description":"Permanently delete an organization and all associated data. This action cannot be undone.","operationId":"delete_api_v1_organizations_orgId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/transfer-ownership":{"post":{"tags":["Organizations"],"summary":"Transfer ownership","description":"Transfer organization ownership to another existing member.","operationId":"post_api_v1_organizations_orgId_transfer_ownership","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"newOwnerId":{"type":"string","minLength":1}},"required":["newOwnerId"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/suspend":{"post":{"tags":["Organizations"],"summary":"Suspend organization","description":"Suspend an organization, disabling access for all members. Requires platform admin or owner permission.","operationId":"post_api_v1_organizations_orgId_suspend","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","minLength":1}},"required":["reason"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/activate":{"post":{"tags":["Organizations"],"summary":"Activate organization","description":"Reactivate a previously suspended organization.","operationId":"post_api_v1_organizations_orgId_activate","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/export":{"get":{"tags":["Organizations"],"summary":"Export organization data","description":"Export all organization data as a structured JSON payload for compliance, backup, or migration purposes.","operationId":"get_api_v1_organizations_orgId_export","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/members/invite":{"post":{"tags":["Members"],"summary":"Invite member","description":"Send an email invitation to a user to join the organization with a specified role.","operationId":"post_api_v1_organizations_orgId_members_invite","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"role":{"type":"string","enum":["owner","admin","developer","viewer"]}},"required":["email","role"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/members":{"get":{"tags":["Members"],"summary":"List members","description":"Retrieve all active members and pending invitations for an organization, with optional role filtering.","operationId":"get_api_v1_organizations_orgId_members","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["owner","admin","developer","viewer"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"userId":{"type":"string"},"orgId":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"email":{"type":"string"}},"required":["_id","userId","orgId","role","status"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/members/{memberId}":{"patch":{"tags":["Members"],"summary":"Update member role","description":"Change a member's role within the organization.","operationId":"patch_api_v1_organizations_orgId_members_memberId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"memberId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["owner","admin","developer","viewer"]}},"required":["role"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"userId":{"type":"string"},"orgId":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"email":{"type":"string"}},"required":["_id","userId","orgId","role","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["Members"],"summary":"Remove member","description":"Remove a member from the organization. The member loses all access immediately.","operationId":"delete_api_v1_organizations_orgId_members_memberId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"memberId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/invitations/{token}/accept":{"post":{"tags":["Members"],"summary":"Accept invitation","description":"Accept a membership invitation and join the organization.","operationId":"post_api_v1_invitations_token_accept","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/invitations/{token}/decline":{"post":{"tags":["Members"],"summary":"Decline invitation","description":"Decline a membership invitation.","operationId":"post_api_v1_invitations_token_decline","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/invitations/{token}":{"get":{"tags":["Members"],"summary":"Get invitation","description":"Retrieve the details of a pending membership invitation by its token.","operationId":"get_api_v1_invitations_token","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"expiresAt":{"type":"string"}},"required":["_id","orgId","email","role","status","expiresAt"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients":{"post":{"tags":["OAuth Clients"],"summary":"Create OAuth client","description":"Register a new OAuth 2.0 client application for the organization.","operationId":"post_api_v1_organizations_orgId_clients","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"clientName":{"type":"string","minLength":1},"clientType":{"type":"string","enum":["public","confidential"]},"redirectUris":{"minItems":1,"type":"array","items":{"type":"string","format":"uri"}},"allowedScopes":{"type":"array","items":{"type":"string"}},"grantTypes":{"type":"array","items":{"type":"string","enum":["authorization_code","client_credentials","refresh_token","implicit"]}},"responseTypes":{"type":"array","items":{"type":"string"}},"requirePKCE":{"type":"boolean"},"branding":{"type":"object","properties":{"logoUrl":{"type":"string","format":"uri"},"privacyPolicyUrl":{"type":"string","format":"uri"},"tosUrl":{"type":"string","format":"uri"}},"additionalProperties":false},"tokenSettings":{"type":"object","additionalProperties":{}},"rateLimits":{"type":"object","additionalProperties":{}},"tokenEndpointAuthMethod":{"type":"string","enum":["client_secret_basic","client_secret_post","none"]}},"required":["clientName","redirectUris"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"clientSecret":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status","clientSecret"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"get":{"tags":["OAuth Clients"],"summary":"List OAuth clients","description":"Retrieve all OAuth clients registered for an organization.","operationId":"get_api_v1_organizations_orgId_clients","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients/{clientId}":{"get":{"tags":["OAuth Clients"],"summary":"Get OAuth client","description":"Retrieve the full configuration of a specific OAuth client.","operationId":"get_api_v1_organizations_orgId_clients_clientId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["OAuth Clients"],"summary":"Update OAuth client","description":"Update an OAuth client's configuration, scopes, redirect URIs, or branding.","operationId":"patch_api_v1_organizations_orgId_clients_clientId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"clientName":{"type":"string","minLength":1},"clientType":{"type":"string","enum":["public","confidential"]},"redirectUris":{"type":"array","items":{"type":"string","format":"uri"}},"allowedScopes":{"type":"array","items":{"type":"string"}},"grantTypes":{"type":"array","items":{"type":"string"}},"responseTypes":{"type":"array","items":{"type":"string"}},"requirePKCE":{"type":"boolean"},"branding":{"type":"object","properties":{"logoUrl":{"type":"string","format":"uri"},"privacyPolicyUrl":{"type":"string","format":"uri"},"tosUrl":{"type":"string","format":"uri"}},"additionalProperties":false},"tokenSettings":{"type":"object","additionalProperties":{}},"rateLimits":{"type":"object","additionalProperties":{}},"tokenEndpointAuthMethod":{"type":"string","enum":["client_secret_basic","client_secret_post","none"]}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["OAuth Clients"],"summary":"Delete OAuth client","description":"Delete an OAuth client and revoke all tokens associated with it.","operationId":"delete_api_v1_organizations_orgId_clients_clientId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients/{clientId}/rotate-secret":{"post":{"tags":["OAuth Clients"],"summary":"Rotate client secret","description":"Generate a new client secret and immediately invalidate the previous one.","operationId":"post_api_v1_organizations_orgId_clients_clientId_rotate_secret","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"clientSecret":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status","clientSecret"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients/{clientId}/usage":{"get":{"tags":["OAuth Clients"],"summary":"Get client usage","description":"Retrieve usage statistics and token issuance counts for a specific OAuth client.","operationId":"get_api_v1_organizations_orgId_clients_clientId_usage","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/oauth/clients/public/{clientId}":{"get":{"tags":["OAuth Clients"],"summary":"Get public client info","description":"Retrieve public-facing information about an OAuth client, used for rendering consent screens.","operationId":"get_api_v1_oauth_clients_public_clientId","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/api-keys":{"post":{"tags":["API Keys"],"summary":"Create API key","description":"Create a new API key for the organization. The full key value is only returned once — store it securely.","operationId":"post_api_v1_organizations_orgId_api_keys","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"scopes":{"minItems":1,"type":"array","items":{"type":"string"}},"expiresAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["name","scopes"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"},"key":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt","key"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"get":{"tags":["API Keys"],"summary":"List API keys","description":"Retrieve all API keys for an organization, with optional filtering by revocation status.","operationId":"get_api_v1_organizations_orgId_api_keys","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"isRevoked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/api-keys/{keyId}":{"get":{"tags":["API Keys"],"summary":"Get API key","description":"Retrieve details of a specific API key by its ID.","operationId":"get_api_v1_organizations_orgId_api_keys_keyId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"keyId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["API Keys"],"summary":"Revoke API key","description":"Permanently revoke an API key. Any requests using this key will be rejected immediately.","operationId":"delete_api_v1_organizations_orgId_api_keys_keyId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"keyId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/settings":{"get":{"tags":["Settings"],"summary":"Get settings","description":"Retrieve the organization's configuration including CORS origins, token TTLs, webhook settings, and rate limits.","operationId":"get_api_v1_organizations_orgId_settings","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"corsOrigins":{"type":"array","items":{"type":"string"}},"defaultTokenTTL":{"type":"number"},"webhookUrl":{"type":"string"}},"required":["_id","orgId"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Settings"],"summary":"Update settings","description":"Update the organization's CORS origins, token TTLs, webhook URL, or rate limits.","operationId":"patch_api_v1_organizations_orgId_settings","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"corsOrigins":{"type":"array","items":{"type":"string"}},"allowedDomains":{"type":"array","items":{"type":"string"}},"defaultTokenTTL":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991},"defaultRefreshTokenTTL":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991},"defaultTokenTTLs":{"type":"object","properties":{"accessToken":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991},"refreshToken":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991},"idToken":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991}},"additionalProperties":false},"webhookUrl":{"type":"string","format":"uri"},"webhooks":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"rotateWebhookSecret":{"type":"boolean"},"rateLimits":{"type":"object","additionalProperties":{}}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"corsOrigins":{"type":"array","items":{"type":"string"}},"defaultTokenTTL":{"type":"number"},"webhookUrl":{"type":"string"}},"required":["_id","orgId"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/usage":{"get":{"tags":["Analytics"],"summary":"Get usage metrics","description":"Retrieve API call counts, token issuance, and active user statistics for an organization over a time range.","operationId":"get_api_v1_organizations_orgId_analytics_usage","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},{"name":"interval","in":"query","required":false,"schema":{"type":"string","enum":["day","week","month"]}},{"name":"clientId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/mau":{"get":{"tags":["Analytics"],"summary":"Get monthly active users","description":"Retrieve the monthly active user (MAU) count for an organization for a given month.","operationId":"get_api_v1_organizations_orgId_analytics_mau","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"month","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/errors":{"get":{"tags":["Analytics"],"summary":"Get error metrics","description":"Retrieve error rates, error codes, and failure counts for an organization over a time range.","operationId":"get_api_v1_organizations_orgId_analytics_errors","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/latency":{"get":{"tags":["Analytics"],"summary":"Get latency metrics","description":"Retrieve API response latency statistics (p50, p95, p99) for an organization over a time range.","operationId":"get_api_v1_organizations_orgId_analytics_latency","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/audit-logs":{"get":{"tags":["Audit Logs"],"summary":"List audit logs","description":"Retrieve a filtered, paginated list of audit events for an organization. Filter by event type, actor, or date range.","operationId":"get_api_v1_organizations_orgId_audit_logs","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}},{"name":"eventType","in":"query","required":false,"schema":{"type":"string"}},{"name":"actorId","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"eventType":{"type":"string"},"actorId":{"type":"string"},"orgId":{"type":"string"},"timestamp":{"type":"string"},"metadata":{"type":"object","additionalProperties":{}}},"required":["_id","eventType","actorId","orgId","timestamp"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/audit-logs/{logId}":{"get":{"tags":["Audit Logs"],"summary":"Get audit log entry","description":"Retrieve the full details of a specific audit log event.","operationId":"get_api_v1_organizations_orgId_audit_logs_logId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"logId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"eventType":{"type":"string"},"actorId":{"type":"string"},"orgId":{"type":"string"},"timestamp":{"type":"string"},"metadata":{"type":"object","additionalProperties":{}}},"required":["_id","eventType","actorId","orgId","timestamp"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/billing":{"get":{"tags":["Billing"],"summary":"Get billing info","description":"Retrieve the organization's current billing information, plan tier, and payment details.","operationId":"get_api_v1_organizations_orgId_billing","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Billing"],"summary":"Update billing info","description":"Update billing email, company name, address, or payment method for the organization.","operationId":"patch_api_v1_organizations_orgId_billing","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"billingEmail":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"companyName":{"type":"string"},"address":{"type":"object","properties":{"line1":{"type":"string"},"line2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"}},"additionalProperties":false},"paymentMethodId":{"type":"string"}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/billing/upgrade":{"post":{"tags":["Billing"],"summary":"Upgrade plan","description":"Upgrade the organization to a higher billing tier to unlock additional features and higher limits.","operationId":"post_api_v1_organizations_orgId_billing_upgrade","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tier":{"type":"string","enum":["startup","growth","enterprise"]}},"required":["tier"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/billing/downgrade":{"post":{"tags":["Billing"],"summary":"Downgrade plan","description":"Downgrade the organization to a lower billing tier.","operationId":"post_api_v1_organizations_orgId_billing_downgrade","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tier":{"type":"string","enum":["startup","growth","enterprise"]}},"required":["tier"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/verify-email":{"post":{"tags":["Users"],"summary":"Verify email address","description":"Confirm an email address using the verification token sent by email.","operationId":"post_api_v1_users_verify_email","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/by-paytag/{payTag}":{"get":{"tags":["Users"],"summary":"Get user by pay tag","description":"Look up a user by their unique PayID pay tag.","operationId":"get_api_v1_users_by_paytag_payTag","parameters":[{"name":"payTag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"payTag":{"type":"string"},"displayName":{"type":"string"},"emailVerified":{"type":"boolean"}},"required":["_id","email"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/{userId}/kyc":{"get":{"tags":["Users"],"summary":"Get user KYC records","description":"Retrieve all KYC verification records for a specific user (admin or platform use).","operationId":"get_api_v1_users_userId_kyc","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{}}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/me/consents":{"get":{"tags":["Users"],"summary":"List my consents","description":"Retrieve all active OAuth consent grants the current user has given to third-party applications.","operationId":"get_api_v1_users_me_consents","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{}}},"required":["success","data"],"additionalProperties":false}}}}}}},"/api/v1/users/me/consents/{consentId}":{"get":{"tags":["Users"],"summary":"Get consent","description":"Retrieve the details of a specific OAuth consent grant.","operationId":"get_api_v1_users_me_consents_consentId","parameters":[{"name":"consentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["Users"],"summary":"Revoke consent","description":"Revoke a specific OAuth consent grant. The associated application will lose access immediately.","operationId":"delete_api_v1_users_me_consents_consentId","parameters":[{"name":"consentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/me":{"get":{"tags":["Users"],"summary":"Get current user","description":"Retrieve the profile and account details of the currently authenticated user.","operationId":"get_api_v1_me","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"payTag":{"type":"string"},"displayName":{"type":"string"},"emailVerified":{"type":"boolean"}},"required":["_id","email"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Users"],"summary":"Update current user","description":"Update the authenticated user's profile information such as display name or pay tag.","operationId":"patch_api_v1_me","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"payTag":{"type":"string"},"displayName":{"type":"string"},"emailVerified":{"type":"boolean"}},"required":["_id","email"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/me/verify-email":{"post":{"tags":["Users"],"summary":"Request email verification","description":"Send an email verification link to the current user's email address.","operationId":"post_api_v1_me_verify_email","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/me/kyc":{"get":{"tags":["Users"],"summary":"Get my KYC records","description":"Retrieve all KYC verification records associated with the current user.","operationId":"get_api_v1_me_kyc","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{}}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"
[...]
