{"openapi":"3.0.0","info":{"title":"PayID Platform API","description":"API documentation for the PayID Platform — including OAuth 2.0 Authentication, Organization Management, API Keys, KYC Verification, Analytics, Billing, and more.","version":"1.0.0"},"servers":[{"url":"https://api.payid.aevr.space","description":"Production Server"},{"url":"http://localhost:6960","description":"Local Development Server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"OAuth 2.0 Access Token. Format: `Bearer <token>`"},"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"API Key via Authorization header. Format: `ApiKey <key>`"},"xApiKeyAuth":{"type":"apiKey","in":"header","name":"X-Api-Key","description":"API Key via X-Api-Key header. Format: `<key>` (no prefix needed)"}}},"paths":{"/oauth/login":{"post":{"tags":["Authentication"],"summary":"POST /oauth/login","operationId":"post_oauth_login","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"password":{"type":"string"},"return_url":{"type":"string"},"return_token":{"type":"boolean"},"client_id":{"type":"string"}},"required":["email","password"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/register":{"post":{"tags":["Authentication"],"summary":"POST /oauth/register","operationId":"post_oauth_register","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"password":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"country":{"type":"string"},"dateOfBirth":{"type":"string"},"address":{"type":"object","additionalProperties":{}},"return_url":{"type":"string"},"return_token":{"type":"boolean"},"client_id":{"type":"string"}},"required":["email","password","firstName","lastName"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/magic-link/request":{"post":{"tags":["Authentication"],"summary":"POST /oauth/login/magic-link/request","operationId":"post_oauth_login_magic_link_request","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"return_url":{"type":"string"},"shouldCreate":{"type":"boolean"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["email"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/magic-link/verify":{"get":{"tags":["Authentication"],"summary":"GET /oauth/login/magic-link/verify","operationId":"get_oauth_login_magic_link_verify","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}},{"name":"return_url","in":"query","required":false,"schema":{"type":"string"}},{"name":"return_token","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"client_id","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/otp/request":{"post":{"tags":["Authentication"],"summary":"POST /oauth/login/otp/request","operationId":"post_oauth_login_otp_request","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"shouldCreate":{"type":"boolean"},"return_url":{"type":"string"}},"required":["email"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/otp/verify":{"post":{"tags":["Authentication"],"summary":"POST /oauth/login/otp/verify","operationId":"post_oauth_login_otp_verify","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"otp":{"type":"string"},"return_url":{"type":"string"},"return_token":{"type":"boolean"},"client_id":{"type":"string"}},"required":["email","otp"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"user":{"type":"object","additionalProperties":{}}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/login/google":{"get":{"tags":["Authentication"],"summary":"GET /oauth/login/google","operationId":"get_oauth_login_google","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"location":{"type":"string"}},"required":["location"],"additionalProperties":false}}}}}}},"/oauth/login/google/callback":{"get":{"tags":["Authentication"],"summary":"GET /oauth/login/google/callback","operationId":"get_oauth_login_google_callback","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"location":{"type":"string"}},"required":["location"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/session":{"get":{"tags":["Authentication"],"summary":"GET /oauth/session","operationId":"get_oauth_session","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/logout":{"post":{"tags":["Authentication"],"summary":"POST /oauth/logout","operationId":"post_oauth_logout","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}}}}},"/oauth/authorize":{"get":{"tags":["OAuth 2.0"],"summary":"GET /oauth/authorize","operationId":"get_oauth_authorize","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"redirect":{"type":"string"}},"required":["redirect"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}},"post":{"tags":["OAuth 2.0"],"summary":"POST /oauth/authorize","operationId":"post_oauth_authorize","responses":{"302":{"description":"Redirect","content":{"application/json":{"schema":{"type":"object","properties":{"redirect":{"type":"string"}},"required":["redirect"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/token":{"post":{"tags":["OAuth 2.0"],"summary":"POST /oauth/token","operationId":"post_oauth_token","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"number"},"refresh_token":{"type":"string"},"id_token":{"type":"string"},"scope":{"type":"string"}},"required":["access_token","token_type","expires_in"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/revoke":{"post":{"tags":["OAuth 2.0"],"summary":"POST /oauth/revoke","operationId":"post_oauth_revoke","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/introspect":{"post":{"tags":["OAuth 2.0"],"summary":"POST /oauth/introspect","operationId":"post_oauth_introspect","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"active":{"type":"boolean","enum":[true]},"sub":{"type":"string"},"scope":{"type":"string"},"exp":{"type":"number"}},"required":["active"],"additionalProperties":false},{"type":"object","properties":{"active":{"type":"boolean","enum":[false]}},"required":["active"],"additionalProperties":false}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/oauth/userinfo":{"get":{"tags":["OpenID Connect"],"summary":"GET /oauth/userinfo","operationId":"get_oauth_userinfo","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"sub":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"}},"required":["sub"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}}}},"/.well-known/openid-configuration":{"get":{"tags":["OpenID Connect"],"summary":"GET /.well-known/openid-configuration","operationId":"get_well_known_openid_configuration","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"issuer":{"type":"string"},"authorization_endpoint":{"type":"string"},"token_endpoint":{"type":"string"}},"required":["issuer","authorization_endpoint","token_endpoint"],"additionalProperties":false}}}}}}},"/.well-known/jwks.json":{"get":{"tags":["OpenID Connect"],"summary":"GET /.well-known/jwks.json","operationId":"get_well_known_jwks_json","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"keys":{"type":"array","items":{"type":"object","additionalProperties":{}}}},"required":["keys"],"additionalProperties":false}}}}}}},"/api/v1/organizations":{"post":{"tags":["Organizations"],"summary":"POST /api/v1/organizations","operationId":"post_api_v1_organizations","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"slug":{"type":"string","minLength":3,"maxLength":63,"pattern":"^[a-z0-9-]+$"},"tier":{"type":"string","enum":["startup","growth","enterprise"]},"billingEmail":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"}},"required":["name","slug","billingEmail"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"get":{"tags":["Organizations"],"summary":"GET /api/v1/organizations","operationId":"get_api_v1_organizations","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}":{"get":{"tags":["Organizations"],"summary":"GET /api/v1/organizations/{orgId}","operationId":"get_api_v1_organizations_orgId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Organizations"],"summary":"PATCH /api/v1/organizations/{orgId}","operationId":"patch_api_v1_organizations_orgId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"settings":{"type":"object","additionalProperties":{}},"billing":{"type":"object","additionalProperties":{}}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"billingEmail":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","name","slug","billingEmail","tier","status","createdAt","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["Organizations"],"summary":"DELETE /api/v1/organizations/{orgId}","operationId":"delete_api_v1_organizations_orgId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/transfer-ownership":{"post":{"tags":["Organizations"],"summary":"POST /api/v1/organizations/{orgId}/transfer-ownership","operationId":"post_api_v1_organizations_orgId_transfer_ownership","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"newOwnerId":{"type":"string","minLength":1}},"required":["newOwnerId"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/suspend":{"post":{"tags":["Organizations"],"summary":"POST /api/v1/organizations/{orgId}/suspend","operationId":"post_api_v1_organizations_orgId_suspend","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","minLength":1}},"required":["reason"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/activate":{"post":{"tags":["Organizations"],"summary":"POST /api/v1/organizations/{orgId}/activate","operationId":"post_api_v1_organizations_orgId_activate","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/export":{"get":{"tags":["Organizations"],"summary":"GET /api/v1/organizations/{orgId}/export","operationId":"get_api_v1_organizations_orgId_export","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/members/invite":{"post":{"tags":["Members"],"summary":"POST /api/v1/organizations/{orgId}/members/invite","operationId":"post_api_v1_organizations_orgId_members_invite","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"role":{"type":"string","enum":["admin","developer","viewer"]}},"required":["email"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/members":{"get":{"tags":["Members"],"summary":"GET /api/v1/organizations/{orgId}/members","operationId":"get_api_v1_organizations_orgId_members","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["owner","admin","developer","viewer"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"userId":{"type":"string"},"orgId":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"email":{"type":"string"}},"required":["_id","userId","orgId","role","status"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/members/{memberId}":{"patch":{"tags":["Members"],"summary":"PATCH /api/v1/organizations/{orgId}/members/{memberId}","operationId":"patch_api_v1_organizations_orgId_members_memberId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"memberId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["admin","developer","viewer"]}},"required":["role"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"userId":{"type":"string"},"orgId":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"email":{"type":"string"}},"required":["_id","userId","orgId","role","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["Members"],"summary":"DELETE /api/v1/organizations/{orgId}/members/{memberId}","operationId":"delete_api_v1_organizations_orgId_members_memberId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"memberId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/invitations/{token}/accept":{"post":{"tags":["Members"],"summary":"POST /api/v1/invitations/{token}/accept","operationId":"post_api_v1_invitations_token_accept","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/invitations/{token}/decline":{"post":{"tags":["Members"],"summary":"POST /api/v1/invitations/{token}/decline","operationId":"post_api_v1_invitations_token_decline","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/invitations/{token}":{"get":{"tags":["Members"],"summary":"GET /api/v1/invitations/{token}","operationId":"get_api_v1_invitations_token","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"expiresAt":{"type":"string"}},"required":["_id","orgId","email","role","status","expiresAt"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients":{"post":{"tags":["OAuth Clients"],"summary":"POST /api/v1/organizations/{orgId}/clients","operationId":"post_api_v1_organizations_orgId_clients","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"redirectUris":{"minItems":1,"type":"array","items":{"type":"string","format":"uri"}},"grantTypes":{"type":"array","items":{"type":"string","enum":["authorization_code","client_credentials","refresh_token","implicit"]}},"responseTypes":{"type":"array","items":{"type":"string"}},"scopes":{"type":"array","items":{"type":"string"}},"tokenEndpointAuthMethod":{"type":"string","enum":["client_secret_basic","client_secret_post","none"]},"applicationType":{"type":"string","enum":["web","native"]},"logoUri":{"type":"string","format":"uri"},"clientUri":{"type":"string","format":"uri"}},"required":["name","redirectUris"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"clientSecret":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status","clientSecret"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"get":{"tags":["OAuth Clients"],"summary":"GET /api/v1/organizations/{orgId}/clients","operationId":"get_api_v1_organizations_orgId_clients","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients/{clientId}":{"get":{"tags":["OAuth Clients"],"summary":"GET /api/v1/organizations/{orgId}/clients/{clientId}","operationId":"get_api_v1_organizations_orgId_clients_clientId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["OAuth Clients"],"summary":"PATCH /api/v1/organizations/{orgId}/clients/{clientId}","operationId":"patch_api_v1_organizations_orgId_clients_clientId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"redirectUris":{"type":"array","items":{"type":"string","format":"uri"}},"grantTypes":{"type":"array","items":{"type":"string"}},"responseTypes":{"type":"array","items":{"type":"string"}},"scopes":{"type":"array","items":{"type":"string"}},"tokenEndpointAuthMethod":{"type":"string","enum":["client_secret_basic","client_secret_post","none"]},"applicationType":{"type":"string","enum":["web","native"]},"logoUri":{"type":"string","format":"uri"},"clientUri":{"type":"string","format":"uri"}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["OAuth Clients"],"summary":"DELETE /api/v1/organizations/{orgId}/clients/{clientId}","operationId":"delete_api_v1_organizations_orgId_clients_clientId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients/{clientId}/rotate-secret":{"post":{"tags":["OAuth Clients"],"summary":"POST /api/v1/organizations/{orgId}/clients/{clientId}/rotate-secret","operationId":"post_api_v1_organizations_orgId_clients_clientId_rotate_secret","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"clientSecret":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status","clientSecret"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/clients/{clientId}/usage":{"get":{"tags":["OAuth Clients"],"summary":"GET /api/v1/organizations/{orgId}/clients/{clientId}/usage","operationId":"get_api_v1_organizations_orgId_clients_clientId_usage","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/oauth/clients/public/{clientId}":{"get":{"tags":["OAuth Clients"],"summary":"GET /api/v1/oauth/clients/public/{clientId}","operationId":"get_api_v1_oauth_clients_public_clientId","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"clientId":{"type":"string"},"clientName":{"type":"string"},"clientType":{"type":"string"},"allowedScopes":{"type":"array","items":{"type":"string"}},"status":{"type":"string"}},"required":["_id","clientId","clientName","clientType","allowedScopes","status"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/api-keys":{"post":{"tags":["API Keys"],"summary":"POST /api/v1/organizations/{orgId}/api-keys","operationId":"post_api_v1_organizations_orgId_api_keys","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"scopes":{"type":"array","items":{"type":"string"}},"expiresAt":{"type":"string"}},"required":["name"],"additionalProperties":false}}}},"responses":{"201":{"description":"Resource created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"},"key":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt","key"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"get":{"tags":["API Keys"],"summary":"GET /api/v1/organizations/{orgId}/api-keys","operationId":"get_api_v1_organizations_orgId_api_keys","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"isRevoked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/api-keys/{keyId}":{"get":{"tags":["API Keys"],"summary":"GET /api/v1/organizations/{orgId}/api-keys/{keyId}","operationId":"get_api_v1_organizations_orgId_api_keys_keyId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"keyId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["API Keys"],"summary":"DELETE /api/v1/organizations/{orgId}/api-keys/{keyId}","operationId":"delete_api_v1_organizations_orgId_api_keys_keyId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"keyId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"isRevoked":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["_id","name","prefix","scopes","isRevoked","createdAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/settings":{"get":{"tags":["Settings"],"summary":"GET /api/v1/organizations/{orgId}/settings","operationId":"get_api_v1_organizations_orgId_settings","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"corsOrigins":{"type":"array","items":{"type":"string"}},"defaultTokenTTL":{"type":"number"},"webhookUrl":{"type":"string"}},"required":["_id","orgId"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Settings"],"summary":"PATCH /api/v1/organizations/{orgId}/settings","operationId":"patch_api_v1_organizations_orgId_settings","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"allowedOrigins":{"type":"array","items":{"type":"string"}},"sessionTimeout":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991},"requireMFA":{"type":"boolean"},"accessTokenTTL":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991},"refreshTokenTTL":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":9007199254740991}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"corsOrigins":{"type":"array","items":{"type":"string"}},"defaultTokenTTL":{"type":"number"},"webhookUrl":{"type":"string"}},"required":["_id","orgId"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/usage":{"get":{"tags":["Analytics"],"summary":"GET /api/v1/organizations/{orgId}/analytics/usage","operationId":"get_api_v1_organizations_orgId_analytics_usage","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"interval","in":"query","required":false,"schema":{"type":"string","enum":["day","week","month"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/mau":{"get":{"tags":["Analytics"],"summary":"GET /api/v1/organizations/{orgId}/analytics/mau","operationId":"get_api_v1_organizations_orgId_analytics_mau","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"month","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/errors":{"get":{"tags":["Analytics"],"summary":"GET /api/v1/organizations/{orgId}/analytics/errors","operationId":"get_api_v1_organizations_orgId_analytics_errors","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/analytics/latency":{"get":{"tags":["Analytics"],"summary":"GET /api/v1/organizations/{orgId}/analytics/latency","operationId":"get_api_v1_organizations_orgId_analytics_latency","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/audit-logs":{"get":{"tags":["Audit Logs"],"summary":"GET /api/v1/organizations/{orgId}/audit-logs","operationId":"get_api_v1_organizations_orgId_audit_logs","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}},{"name":"action","in":"query","required":false,"schema":{"type":"string"}},{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"eventType":{"type":"string"},"actorId":{"type":"string"},"orgId":{"type":"string"},"timestamp":{"type":"string"},"metadata":{"type":"object","additionalProperties":{}}},"required":["_id","eventType","actorId","orgId","timestamp"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/audit-logs/{logId}":{"get":{"tags":["Audit Logs"],"summary":"GET /api/v1/organizations/{orgId}/audit-logs/{logId}","operationId":"get_api_v1_organizations_orgId_audit_logs_logId","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"logId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"eventType":{"type":"string"},"actorId":{"type":"string"},"orgId":{"type":"string"},"timestamp":{"type":"string"},"metadata":{"type":"object","additionalProperties":{}}},"required":["_id","eventType","actorId","orgId","timestamp"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/billing":{"get":{"tags":["Billing"],"summary":"GET /api/v1/organizations/{orgId}/billing","operationId":"get_api_v1_organizations_orgId_billing","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Billing"],"summary":"PATCH /api/v1/organizations/{orgId}/billing","operationId":"patch_api_v1_organizations_orgId_billing","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tier":{"type":"string","enum":["startup","growth","enterprise"]},"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"paymentMethod":{"type":"object","additionalProperties":{}}},"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/billing/upgrade":{"post":{"tags":["Billing"],"summary":"POST /api/v1/organizations/{orgId}/billing/upgrade","operationId":"post_api_v1_organizations_orgId_billing_upgrade","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tier":{"type":"string","enum":["startup","growth","enterprise"]}},"required":["tier"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/organizations/{orgId}/billing/downgrade":{"post":{"tags":["Billing"],"summary":"POST /api/v1/organizations/{orgId}/billing/downgrade","operationId":"post_api_v1_organizations_orgId_billing_downgrade","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tier":{"type":"string","enum":["startup","growth","enterprise"]}},"required":["tier"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"orgId":{"type":"string"},"tier":{"type":"string"},"billingEmail":{"type":"string"},"updatedAt":{"type":"string"}},"required":["_id","orgId","tier","updatedAt"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/verify-email":{"post":{"tags":["Users"],"summary":"POST /api/v1/users/verify-email","operationId":"post_api_v1_users_verify_email","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/by-paytag/{payTag}":{"get":{"tags":["Users"],"summary":"GET /api/v1/users/by-paytag/{payTag}","operationId":"get_api_v1_users_by_paytag_payTag","parameters":[{"name":"payTag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"payTag":{"type":"string"},"displayName":{"type":"string"},"emailVerified":{"type":"boolean"}},"required":["_id","email"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/{userId}/kyc":{"get":{"tags":["Users"],"summary":"GET /api/v1/users/{userId}/kyc","operationId":"get_api_v1_users_userId_kyc","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{}}},"required":["success","data"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/users/me/consents":{"get":{"tags":["Users"],"summary":"GET /api/v1/users/me/consents","operationId":"get_api_v1_users_me_consents","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{}}},"required":["success","data"],"additionalProperties":false}}}}}}},"/api/v1/users/me/consents/{consentId}":{"get":{"tags":["Users"],"summary":"GET /api/v1/users/me/consents/{consentId}","operationId":"get_api_v1_users_me_consents_consentId","parameters":[{"name":"consentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{}},"required":["success","data"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"delete":{"tags":["Users"],"summary":"DELETE /api/v1/users/me/consents/{consentId}","operationId":"delete_api_v1_users_me_consents_consentId","parameters":[{"name":"consentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/me":{"get":{"tags":["Users"],"summary":"GET /api/v1/me","operationId":"get_api_v1_me","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"payTag":{"type":"string"},"displayName":{"type":"string"},"emailVerified":{"type":"boolean"}},"required":["_id","email"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}},"patch":{"tags":["Users"],"summary":"PATCH /api/v1/me","operationId":"patch_api_v1_me","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"payTag":{"type":"string"},"displayName":{"type":"string"},"emailVerified":{"type":"boolean"}},"required":["_id","email"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/me/verify-email":{"post":{"tags":["Users"],"summary":"POST /api/v1/me/verify-email","operationId":"post_api_v1_me_verify_email","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/me/kyc":{"get":{"tags":["Users"],"summary":"GET /api/v1/me/kyc","operationId":"get_api_v1_me_kyc","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{}}},"required":["success","data"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/kyc/verify":{"post":{"tags":["KYC Verification"],"summary":"POST /api/v1/kyc/verify","operationId":"post_api_v1_kyc_verify","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"organizationId":{"type":"string","minLength":1},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},"provider":{"type":"string","enum":["qoreid","plaid"]},"phoneNumber":{"type":"string"},"dateOfBirth":{"type":"string"},"documentType":{"type":"string","enum":["bvn","nin","passport","drivers_license","national_id"]},"documentNumber":{"type":"string"},"idNumber":{"type":"string"},"idNumberType":{"type":"string","enum":["ar_dni","au_drivers_license","au_passport","br_cpf","ca_sin","cl_run","cn_resident_card","co_nit","dk_cpr","eg_national_id","es_dni","es_nie","hk_hkid","in_pan","it_cf","jo_civil_id","jp_my_number","ke_huduma_namba","kw_civil_id","mx_curp","mx_rfc","my_nric","ng_nin","nz_drivers_license","om_civil_id","ph_psn","pl_pesel","ro_cnp","sa_national_id","se_pin","sg_nric","tr_tc_kimlik","us_ssn","us_ssn_last_4","za_smart_id"]},"address":{"type":"object","additionalProperties":{}},"templateId":{"type":"string"},"gaveConsent":{"type":"boolean"},"gender":{"type":"string"}},"required":["organizationId"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"sessionId":{"type":"string"},"status":{"type":"string"},"provider":{"type":"string"}},"required":["sessionId","status","provider"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/kyc/verify/{sessionId}":{"get":{"tags":["KYC Verification"],"summary":"GET /api/v1/kyc/verify/{sessionId}","operationId":"get_api_v1_kyc_verify_sessionId","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"refresh","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"sessionId":{"type":"string"},"status":{"type":"string"},"provider":{"type":"string"}},"required":["sessionId","status","provider"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/kyc/verify/{sessionId}/retry":{"post":{"tags":["KYC Verification"],"summary":"POST /api/v1/kyc/verify/{sessionId}/retry","operationId":"post_api_v1_kyc_verify_sessionId_retry","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"strategy":{"type":"string","enum":["reset","resume","incomplete","infer","custom"]},"provider":{"type":"string","enum":["qoreid","plaid"]}},"required":["strategy"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"sessionId":{"type":"string"},"status":{"type":"string"},"provider":{"type":"string"}},"required":["sessionId","status","provider"],"additionalProperties":false}},"required":["success","data"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]}}},"required":["success","message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"],"additionalProperties":false}}},"required":["success","message"],"additionalProperties":false}}}}}}},"/api/v1/kyc/verifications":{"get":{"tags":["KYC Verification"],"summary":"GET /api/v1/kyc/verifications","operationId":"get_api_v1_kyc_verifications","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":9007199254740991}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","enum":["qoreid","plaid"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["pending","active","verified","failed","expired"]}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"organizationId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","properties":{"sessionId":{"type":"string"},"status":{"type":"string"},"provider":{"type":"string"}},"required":["sessionId","status","provider"],"additionalProperties":false}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"],"additionalProperties":false}},"required":["success","data","pagination"],"additionalProperties":false}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":
[...]
